html[data-theme='default'],
html[data-theme='light'] {
  --color-bg: #fcfaff;
  --color-header-bg: #2a1f3f;
  --color-header-text: #fcfaff;
  --color-border: #54495f;
  --color-link: #1600ed;
  --color-text: #464064;
  --color-text-heading: #1d1036;
  --color-text-muted: #575280;
}

html[data-theme='dark'] {
  --color-bg: #242526;
  --color-header-bg: #18111f;
  --color-header-text: #e9e9f1;
  --color-border: #54495f;
  --color-link: #617ff5;
  --color-text: #cdcdcf;
  --color-text-heading: #dedeee;
  --color-text-muted: #bebebf;
}

@media (prefers-color-scheme: dark) {
  html[data-theme='default'] {
    --color-bg: #242526;
    --color-header-bg: #18111f;
    --color-header-text: #e9e9f1;
    --color-border: #54495f;
    --color-link: #617ff5;
    --color-text: #cdcdcf;
    --color-text-heading: #dedeee;
    --color-text-muted: #bebebf;
  }
}

html[data-theme='pink'] {
  --color-hue: 320;
  --color-saturation: 80%;
  --color-bg: hsla(var(--color-hue) 100% 5% / 1);
  --color-header-bg: hsla(var(--color-hue) 100% 3% / 1);
  --color-header-text: hsla(var(--color-hue) 80% 90% / 1);
  --color-border: hsla(var(--color-hue) 80% 30% / 1);
  --color-link: #617ff5;
  --color-text: hsla(var(--color-hue) 80% 80% / 1);
  --color-text-heading: hsla(var(--color-hue) 90% 60% / 1);
  --color-text-muted: hsla(var(--color-hue) 40% 45% / 1);
}

* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 18px;
  line-height: 1.4;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem max(5vw, calc((100vw - 34rem) / 2));
}

@media (min-width: 800px) {
  header,
  footer {
    padding: 1rem max(5vw, calc((100vw - (37rem + 250px)) / 2));
  }
}

header {
  background: var(--color-header-bg);
  border-bottom: 0.25px solid var(--color-border);
  color: var(--color-header-text);
  font-size: clamp(0.75rem, 2.25vw, 0.875rem);
}

header nav {
  display: flex;
  gap: 0.25rem;
}

header a {
  color: inherit;
  display: block;
  padding: 0.25rem;
  text-decoration: none;
}

header a[rel='home'] {
  font-weight: bold;
  padding-left: 0;
}

header nav a:last-child {
  padding-right: 0;
}

main {
  font-size: clamp(0.875rem, 2.75vw, 1rem);
  margin: 3rem auto 0;
  width: min(34rem, 90vw);
}

@media (min-width: 800px) {
  main {
    align-items: start;
    display: grid;
    gap: 1rem 3rem;
    grid-template-columns: 1fr 250px;
    grid-template-rows: auto auto;
    width: min(calc(37rem + 250px), 90vw);
  }
}

h1 {
  color: var(--color-text-heading);
  font-size: clamp(1.5rem, 5vw, 2rem);
  line-height: 1.1;
  margin: 0;
}

main a {
  color: var(--color-link);
}

aside {
  background: var(--color-aside-bg);
  border: 1px solid var(--color-border);
  border-radius: 0.25rem;
  color: var(--color-aside-text);
  font-size: 0.875rem;
  margin-top: 1rem;
  padding: 0.5rem 0.75rem 0.75rem;
  width: 250px;
}

@media (min-width: 800px) {
  aside {
    margin-top: 0;
  }
}

aside h2 {
  font-size: clamp(1.125rem, 3vw, 1.25rem);
  margin: 0;
}

aside ul {
  margin: 0.5rem 0 0;
  padding: 0;
}

aside li {
  list-style: none;
}

aside a {
  border-top: 1px solid var(--color-border);
  display: block;
  padding: 0.5rem 0.25rem;
  text-decoration: none;
  transition: background 150ms linear;
}

aside a:hover,
aside a:focus {
  background: var(--color-text);
  color: var(--color-bg);
}

footer {
  color: var(--color-text-muted);
  font-size: 0.75rem;
  padding-block: 2rem;
}

footer p,
footer nav {
  margin: 0;
}

footer a {
  color: inherit;
}
